  
  <li><a href="{{genre}}">Alternative Rock</a></li>
  <li><a href="{{genre}}">Ambient</a></li>
  <li><a href="{{genre}}">Classical</a></li>
  <li><a href="{{genre}}">Country</a></li>
  <li><a href="{{genre}}">Dance</a></li>
  <li><a href="{{genre}}">Deep House</a></li>
  <li><a href="{{genre}}">Disco</a></li>
  <li><a href="{{genre}}">Drum &amp; Bass</a></li>

