<td class="artwork">
  <img src="{{artwork_url}}" alt="{{title}}">
</td>
<td class="play">
  {{#if streamable}}
  <i class="fa fa-play-circle"></i>
  {{else}}
  <i class="fa fa-ban"></i>
  {{/if}}
</td>
<td class="title">
  <span>{{title}}</td>
</td>
<td class="genre">
  <span>{{genre}}</td>
</td>
<td class="duration">
  <span>{{duration}}</span>
</td>
